[submodule "pinkman"]
	path = pinkman
	url = git@github.com:DiscoverAI/pinkman.git
[submodule "walter-white"]
	path = walter-white
	url = git@github.com:DiscoverAI/walter-white.git
[submodule "saul-goodman"]
	path = saul-goodman
	url = git@github.com:DiscoverAI/saul-goodman.git
[submodule "ehrmantraut"]
	path = ehrmantraut
	url = git@github.com:DiscoverAI/ehrmantraut.git
[submodule "assume-role"]
	path = assume-role
	url = git@github.com:kelseymok/assume-role.git
